@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');


// font-family: 'Barlow', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Bellefair', serif;

$hover: rgba(255, 255, 255, 0.4);
$b-text:#D0D6F9;
$white:  #ffffff;
$some-text: #0B0D17;

@mixin flebox($justify,$align){
    display: flex;
    justify-content:  $justify;
    align-items: $align;
}
@mixin position($pos,$top,$right,$bot,$left){
    position:$pos ;
    top:$top;
    right: $right;
    bottom: $bot;
    left: $left;
}

@mixin font($size, $weight,$trans,$space){
    font-size:$size ;
    font-weight:$weight ;
    text-transform: $trans;
    letter-spacing: $space;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    
}

h1,h2,h3,h4,.sub-heading2{
    font-family: 'Bellefair', serif;
    font-weight: 500;
    text-transform: uppercase;
       

}

h1{
    font-size:9.375rem;
}
h2{
    font-size: 6.25rem;
}
h3{
    font-size: 3.5rem;
}
h4{
    font-size: 2rem;
}
h5{
    
    font-family: 'Barlow Condensed', sans-serif;
    @include font(1.75rem,400 ,uppercase ,4.72px );
    color: $b-text;
}
.sub-heading1{
    font-family: 'Barlow Condensed', sans-serif;
    @include font(0.875rem,400,uppercase ,2.36px );
}  
.sub-heading2{
    @include font(1.75rem,400 ,uppercase ,2.36px);
}
.nav-text{
    font-family: 'Barlow Condensed', sans-serif;
    @include font(1rem,400 ,uppercase ,2.36px);
}
.para{
    font-size: 1.125rem;
    font-family: 'Barlow', sans-serif;
    line-height: 2rem ;
    color: $b-text;
}

.main-page{
    background-image: url("../assets/technology/background-technology-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}
#menu-closed,#menu-open{
    display: none
}

header{
    @include flebox(space-between, center );
    margin:2% 0 2% 5%;
    .line{
        width: 760px;
        height: 1px;
        background-color: $white;
        background-color:rgba(255, 255, 255, 0.4) ;
        @include position(absolute,auto ,auto ,auto ,220px );
        z-index: 2;
    }
    nav{
        background-color:  rgba(255, 255, 255, 0.2);
        padding: 2rem 8rem 2rem 9rem;
        backdrop-filter:blur(6px);
       z-index: 1;
          ul{
        @include flebox(space-between, center);
        
        }
        
          li{
             
              list-style-type: none;
              margin-right:5rem;
              font-family: 'Barlow Condensed', sans-serif;
              @include font(1rem,normal ,uppercase , 2.7px);
             
              &:hover{
                text-decoration: underline;
              text-decoration-thickness: 4px;
              text-underline-offset: 1.9rem;
              text-decoration-color: aquamarine;
              }

              strong{
                font-size: 16px;
                font-family: 'Barlow Condensed', sans-serif; 
                letter-spacing: 2.72px;
               
              }
              
            }
            .active{
                text-decoration: underline;
                text-decoration-thickness: 4px;
                text-underline-offset: 1.9rem;
                }
        }
    }



main{
    text-align: left;
    margin: 8rem 12% 0;
    .para{
        width: 450px;
        margin-top: 1.5rem;
    }
    .condensed-reg{
        color: $white;
        
        strong{
            color: #ffffff3b;
            margin-right:0.5rem;
            
        }
    }

  

 
   .test{
        @include flebox(space-around, center );
    }
    
    
    picture{
        img{
            @include position(relative,0 ,0,0 ,300px);
        }
   }
 
    
   .nav-num{
    @include flebox(space-between,center );
    flex-direction: column;
   
   .num{
    margin-top: 2rem;
    background-color:transparent;
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 70px;
    height: 70px;
    border-radius: 100%;
    a{
        @include position(relative, 15px, 0,0 ,27px )
    }
    
    &:hover{
        border:  1px solid $white;
    }
   }
   .one a{
    @include position(relative, 15px, 0,0 ,30px )
}
   .active2{
    background-color: $white;
    a{
        color: $some-text;
    }
   
    }
  
   
  }
}

    @media screen and (max-width:1440px) {
   
   header{
   
    .line{
        width: 500px;
        @include position(absolute,auto ,auto ,auto ,180px );
        
    }
    nav{
       
        padding: 2rem 1rem 2rem 4rem;
        
        
       ul{
        @include flebox(space-between, center);
        
        }
        
    } 

    
}
    main{
        h3{
            font-size: 3rem;
        }
       .test{
            @include flebox(space-around, center );
           
        }
        
        
        picture{
            img{
                @include position(relative,-60px,0 ,0,175px);
            }
       }
     
        
       .nav-num{
        @include flebox(space-between,center );
        flex-direction: column;
        margin-right: 3rem;
       
    
    }
   
    }
      }  
      @media screen and (max-width:1024px) {
     
        .main-page{
            background-image: url("../assets/technology/background-technology-tablet.jpg");
        }
        
        header{
            margin: 0 0 5% 2%;
            .line{
                display: none;
            }
            strong
            {
                display: none;
            }
    
            nav{
                
                padding: 2rem 0rem 2rem 3rem;
                li{
                    margin-right: 3rem;
                }
                
            }
        }
        main{
            
            margin: 1rem 5rem 4rem;
        
            
           .context{
            text-align: center;
            margin-top: 3rem;
           }
          
         .para{
            width: 600px;
            margin-left: 14rem;
         }
         
           .test{
                
                display: grid;
                grid-template-columns: 1fr;
            }
            
            article{
                grid-row: 1;
               margin: 6rem 0;
             
            picture{
               
               img{
                width: 1024px;
                @include position(relative,0 ,0,0 ,0);
               }
           }
            }
            
           .nav-num{
            @include flebox(center,center );
            flex-direction: row;
           margin-right: 0;
           gap: 4rem;
           
        }
        
    
    }
     }
    @media screen and (max-width:768px) {
     
        .main-page{
            background-image: url("../assets/technology/background-technology-tablet.jpg");
        }
        
        header{
            margin: 0 0 5% 2%;
            .line{
                display: none;
            }
            strong
            {
                display: none;
            }
    
            nav{
                
                padding: 2rem 0rem 2rem 3rem;
                li{
                    margin-right: 3rem;
                }
                
            }
        }
        main{
            
            margin: 1rem 5rem 4rem;
        
            
           .context{
            text-align: center;
            margin-top: 3rem;
           }
          
         .para{
            width: 600px;
            margin-left: 6rem;
         }
         
           .test{
                
                display: grid;
                grid-template-columns: 1fr;
            }
            
            article{
                grid-row: 1;
               margin: 6rem 0;
             
            picture{
               
               img{
                width: 765px;
                @include position(relative,0 ,0,0 ,0);
               }
           }
            }
            
           .nav-num{
            @include flebox(center,center );
            flex-direction: row;
           margin-right: 0;
           gap: 4rem;
           
        }
        
    
    }
     }

    @media screen and (max-width:425px){
        
        body{
            z-index: 1;
        }
        h1{
            font-size:80px;
        }
        h2{
            font-size: 56px;
        }
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 20px;
        }
        h5{
            @include font(16px,400 ,uppercase ,4.72px );
            
        }
        .sub-heading1{
            font-family: 'Barlow Condensed', sans-serif;
            @include font(14px,400,uppercase ,2.36px );
        }  
        .sub-heading2{
            
            
            @include font(28px,400 ,uppercase ,2.36px);
        }
        .nav-text{
            font-size: 1rem;
            letter-spacing: 2.7px;
        }
        .para{
            font-size: 15px;
            font-family: 'Barlow', sans-serif;
            line-height: 2rem ;
        }
        
        .main-page{
            background-image: url("../assets/destination/background-destination-mobile.jpg");
            
           
        }
           #menu-closed,#menu-open{
                display: inline-block;
            }
     
        header{
            
            margin: 5%;
            .line{
                display: none;
            }
        strong{
            display:inline;
        }
            
           nav{
                opacity: 0;
                padding: 2rem;
                width: 70%;
                height: 100vh;
                @include position(fixed,0 ,0 ,0 ,auto );
                z-index: -9999999999;
                transition: all 0.1s ease-in-out;
                ul{
                    display: block;
                    position:fixed;
                    top: 20%;
                    li{
                        font-size: 16px;
                        margin-top: 3rem;
                    }
                    &:hover{
                        
                      text-underline-offset: .5rem;
                      }
                
                     
                    }
                    .active{
                    
                        text-underline-offset: .5rem;
                        }
                  }
                .navin{
                    opacity: 1;
                    z-index: +9999999999;
              } 
           
            }
    #menu-closed{
        @include position(absolute, auto , 20px , auto,auto);
    }
          
    #menu-closed,#menu-open{
        outline: none;
        border: none;
        background: transparent;
    }
   
        
    main{
            
        margin:2rem 1rem;
    
        
       .context{
        text-align: center;
        margin-top: 3rem;
       }
      
     .para{
        width: 320px;
        margin-left: 3.5rem;
     }
     
       .test{
            
            display: grid;
            grid-template-columns: 1fr;
        }
        
        article{
            grid-row: 1;
           margin: 6rem 0;
         
        
           picture{
           
           img{
            width: 425px;
            @include position(relative,0 ,0,0 ,0);
           }
       }
        }
        
       .nav-num{
        h4{
            font-size: 2rem;
        }
        
        @include flebox(center,center );
        flex-direction: row;
       margin-right: 0;
       gap: 4rem;
       
       
    }
    
        
    }
    }
    

    @media screen and (max-width:375px){
        
        body{
            z-index: 1;
        }
        h1{
            font-size:80px;
        }
        h2{
            font-size: 56px;
        }
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 20px;
        }
        h5{
            @include font(16px,400 ,uppercase ,4.72px );
            
        }
        .sub-heading1{
            font-family: 'Barlow Condensed', sans-serif;
            @include font(14px,400,uppercase ,2.36px );
        }  
        .sub-heading2{
            
            
            @include font(28px,400 ,uppercase ,2.36px);
        }
        .nav-text{
            font-size: 1rem;
            letter-spacing: 2.7px;
        }
        .para{
            font-size: 15px;
            font-family: 'Barlow', sans-serif;
            line-height: 2rem ;
        }
        
        .main-page{
            background-image: url("../assets/destination/background-destination-mobile.jpg");
            
           
        }
           #menu-closed,#menu-open{
                display: inline-block;
            }
     
        header{
            
            margin: 5%;
            .line{
                display: none;
            }
        strong{
            display:inline;
        }
            
           nav{
                opacity: 0;
                padding: 2rem;
                width: 70%;
                height: 100vh;
                @include position(fixed,0 ,0 ,0 ,auto );
                z-index: -9999999999;
                transition: all 0.1s ease-in-out;
                ul{
                    display: block;
                    position:fixed;
                    top: 20%;
                    li{
                        font-size: 16px;
                        margin-top: 3rem;
                    }
                    &:hover{
                        
                      text-underline-offset: .5rem;
                      }
                
                     
                    }
                    .active{
                    
                        text-underline-offset: .5rem;
                        }
                  }
                .navin{
                    opacity: 1;
                    z-index: +9999999999;
              } 
           
            }
    #menu-closed{
        @include position(absolute, auto , 20px , auto,auto);
    }
          
    #menu-closed,#menu-open{
        outline: none;
        border: none;
        background: transparent;
    }
   
        
    main{
            
        margin:0 1rem;
    
        
       .context{
        text-align: center;
        margin-top: 3rem;
       }
      
     .para{
        width: 320px;
        margin-left: 2rem;
     }
     
       .test{
            
            display: grid;
            grid-template-columns: 1fr;
        }
        
        article{
            grid-row: 1;
           margin: 6rem 0;
         
        
           picture{
           
           img{
            width: 375px;
            @include position(relative,0 ,0,0 ,0);
           }
       }
        }
        
       .nav-num{
        h4{
            font-size: 2rem;
        }
        
        @include flebox(center,center );
        flex-direction: row;
       margin-right: 0;
       gap: 4rem;
       
       
    }
    
        
    }
    }